@font-face {
  font-family: didot;
  src: url(../font-family/Didot_Regular.ttf);
}
@font-face {
  font-family: ryumin;
  src: url(../font-family/GenRyuMin-M.ttc);
}
@font-face {
  font-family: hind;
  src: url(../font-family/Hind-Regular.ttf);
}
@keyframes loop {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes textshow {
  100% {
    opacity: 1;
  }
}
@keyframes svgshow {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes svgshow2 {
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke: none;
    fill: #000;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  width: 100%;
}
* body::-webkit-scrollbar {
  display: none;
}
* body .loading_page {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  background-color: #fff;
}
* body .loading_page svg {
  position: absolute;
  bottom: 0;
  width: 66.875vw;
  transition: 0.5s;
  transform: translate(-100%, 0);
}
@media (max-width: 960px) {
  * body .loading_page svg {
    width: 54.83vw;
    transform: rotate(90deg);
    bottom: unset;
    top: 0;
    left: -15%;
    transform: translate(0, -150%);
  }
}
* body .loading_page p {
  position: absolute;
  margin: 0;
  top: 9.54%;
  left: 65.1%;
  font-family: didot;
  font-size: clamp(92px, 14.0625vw, 270px);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.768627451);
  transition: 0.5s;
  transform: translate(150%, 0);
}
@media (max-width: 960px) {
  * body .loading_page p {
    top: 80%;
    left: unset;
    right: 0%;
    transform: translate(0, 150%);
  }
}
* body header {
  height: 100vh;
  position: relative;
}
* body header .burger {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  transition: all 0.5s;
  opacity: 0;
  z-index: 2;
}
* body header .burger .burger_logo {
  position: absolute;
  top: 7.41vh;
  left: 4.8%;
}
@media (max-width: 600px) {
  * body header .burger .burger_logo {
    display: none;
  }
}
* body header .burger .burger_btn_open {
  cursor: pointer;
  position: absolute;
  top: 7.41vh;
  right: 4.53%;
  font-family: "";
  font-size: clamp(32px, 2.6vw, 50px);
  font-weight: 100;
  color: rgba(137, 137, 137, 0.4);
}
* body header .burger nav {
  height: 0vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #000;
  overflow: hidden;
  transition: all 1s;
  z-index: 2;
}
* body header .burger nav.open {
  height: 100vh;
}
* body header .burger nav .YTDlogo {
  font-family: didot;
  font-size: clamp(11px, 1.25vw, 24px);
  font-weight: 700;
  color: white;
  position: absolute;
  top: 8.98%;
  left: 7.86%;
  text-decoration: none;
  font-style: italic;
}
* body header .burger nav .nav_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* body header .burger nav .nav_content img {
  width: clamp(196.65px, 19.53vw, 375px);
  margin-right: 4.32%;
}
* body header .burger nav .nav_content ul {
  list-style: none;
  margin-left: 4.32%;
}
* body header .burger nav .nav_content ul li {
  margin: 1% 0;
}
* body header .burger nav .nav_content ul li a {
  text-decoration: none;
  font-family: didot;
  font-size: clamp(26px, 3.54vw, 68px);
  font-weight: 400;
  color: white;
}
* body header .burger nav .nav_btn_close {
  color: white;
  position: absolute;
  cursor: pointer;
  top: 83.4%;
  left: 89.58vw;
}
* body header .burger .totop {
  position: fixed;
  right: 5%;
  bottom: 5%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  font-family: Playfair Display;
  font-size: clamp(16px, 1vw, 19.2px);
  font-weight: 600;
  color: #6A6969;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
* body header .burger .totop:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
* body header .burger.active {
  opacity: 1;
}
* body header video {
  height: 100vh;
  width: 100%;
  background-color: #000;
}
* body header > svg {
  position: absolute;
  height: 800px;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: clamp(352px, 60.47vw, 1161px);
  animation: textshow 2s linear 1 forwards;
}
* body header .header_btn_reservation {
  font-family: hind;
  font-size: clamp(12px, 1.25vw, 24px);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 84.5%;
  left: 12.5%;
  opacity: 0;
  animation: textshow 2s linear 1s 1 forwards;
  text-decoration: none;
}
* body header .header_btn_reservation.font {
  font-family: hind;
  font-size: clamp(12px, 1.77vw, 34px);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-decoration-line: underline;
}
* body header .header_btn_portfolio {
  font-family: hind;
  font-size: clamp(12px, 1.25vw, 24px);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 84.5%;
  right: 12.5%;
  opacity: 0;
  animation: textshow 2s linear 1s 1 forwards;
  text-decoration: none;
}
* body header .header_btn_portfolio.font {
  font-family: hind;
  font-size: clamp(12px, 1.77vw, 34px);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-decoration-line: underline;
}
* body main {
  overflow: hidden;
}
* body main .service {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
* body main .service h2 {
  position: absolute;
  left: 17.19%;
  top: 10.28%;
  font-family: didot;
  font-size: clamp(28px, 2.708vw, 52px);
  font-weight: 400;
  color: rgba(137, 137, 137, 0.8980392157);
}
* body main .service h2::after {
  content: "_____";
}
@media (max-width: 1100px) {
  * body main .service h2 {
    top: 12.44%;
    left: 3.97%;
  }
}
* body main .service svg {
  position: absolute;
  top: 39.72%;
  left: 9.79%;
  width: clamp(250px, 40.21vw, 772px);
}
@media (max-width: 1100px) {
  * body main .service svg {
    display: none;
  }
}
* body main .service svg path {
  stroke-dasharray: 1160;
  stroke-dashoffset: 1160;
  stroke: #666;
}
* body main .service svg path.svg_animation {
  animation: svgshow 5s ease-out forwards;
}
* body main .service h3 {
  position: absolute;
  top: 72.13%;
  left: 12.5%;
  font-family: Playfair Display;
  font-size: clamp(16px, 1.875vw, 36px);
  font-weight: 600;
  color: #000000;
}
@media (max-width: 1100px) {
  * body main .service h3 {
    top: 70%;
    left: 11.97%;
  }
}
@media (max-width: 875px) {
  * body main .service h3 {
    top: 60.27%;
    left: 11.97%;
  }
}
* body main .service p {
  position: absolute;
  top: 80%;
  left: 12.5%;
  font-family: hind;
  font-size: clamp(10px, 1.25vw, 24px);
  font-weight: 400;
  color: #000000;
}
* body main .service p.font {
  font-family: ryumin;
  font-size: clamp(10px, 1.25vw, 24px);
  font-weight: 400;
  color: #000000;
  line-height: 30px;
}
@media (max-width: 1100px) {
  * body main .service p {
    top: 75%;
    left: 11.97%;
  }
}
@media (max-width: 875px) {
  * body main .service p {
    top: 65.82%;
    left: 11.97%;
  }
}
* body main .service video {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: clamp(300px, 45.98vw, 883px);
}
@media (max-width: 1100px) {
  * body main .service video {
    margin: unset;
    top: 22.19%;
    left: 20.27%;
  }
}
* body main .service img {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: clamp(300px, 45.98vw, 883px);
}
* body main .service img:hover {
  opacity: 0;
}
@media (max-width: 1100px) {
  * body main .service img {
    margin: unset;
    top: 22.19%;
    left: 20.27%;
  }
}
* body main .goal {
  position: relative;
  height: 100vh;
}
* body main .goal video {
  position: absolute;
  top: 10%;
  width: clamp(178px, 49.94vw, 959px);
}
@media (max-width: 1100px) {
  * body main .goal video {
    top: 3.75%;
    left: 9%;
  }
}
* body main .goal img {
  position: absolute;
  top: 10%;
  width: clamp(208px, 49.94vw, 959px);
}
* body main .goal img:hover {
  opacity: 0;
}
@media (max-width: 1100px) {
  * body main .goal img {
    top: 3.75%;
    left: 9%;
  }
}
* body main .goal h2 {
  position: absolute;
  top: 19.9%;
  left: 76.9%;
  font-family: didot;
  font-size: clamp(28px, 2.708vw, 52px);
  font-weight: 400;
  color: rgba(137, 137, 137, 0.8980392157);
}
* body main .goal h2::before {
  content: "_____";
}
@media (max-width: 1100px) {
  * body main .goal h2 {
    top: -6.09%;
    left: 73.14%;
  }
}
@media (max-width: 875px) {
  * body main .goal h2 {
    top: -5.09%;
    left: 52.14%;
  }
}
* body main .goal svg {
  position: absolute;
  top: 37.87%;
  left: 45.47%;
  width: clamp(178px, 25.57vw, 491px);
}
@media (max-width: 1100px) {
  * body main .goal svg {
    display: none;
  }
}
* body main .goal svg path {
  stroke-dasharray: 1160;
  stroke-dashoffset: 1160;
  stroke: #666;
}
* body main .goal svg path.svg_animation {
  animation: svgshow 5s ease-out forwards;
}
* body main .goal h3 {
  position: absolute;
  top: 66.02%;
  left: 56.93%;
  font-family: Playfair Display;
  font-size: clamp(10px, 1.875vw, 36px);
  font-weight: 600;
  color: #000000;
}
@media (max-width: 1100px) {
  * body main .goal h3 {
    top: 80%;
    left: 60%;
  }
}
@media (max-width: 875px) {
  * body main .goal h3 {
    top: 49.25%;
    left: 60%;
  }
}
@media (max-width: 550px) {
  * body main .goal h3 {
    top: 52.25%;
    left: 37.23%;
  }
}
* body main .goal p {
  position: absolute;
  top: 74.35%;
  left: 56.93%;
  font-family: hind;
  font-size: clamp(10px, 1.25vw, 24px);
  font-weight: 400;
  color: #000000;
}
* body main .goal p.font {
  font-family: ryumin;
  font-size: clamp(10px, 1.25vw, 24px);
  font-weight: 400;
  color: #000000;
  line-height: 30px;
}
@media (max-width: 1100px) {
  * body main .goal p {
    top: 85.47%;
    left: 60%;
  }
}
@media (max-width: 875px) {
  * body main .goal p {
    top: 55.47%;
    left: 60%;
  }
}
@media (max-width: 550px) {
  * body main .goal p {
    top: 55.47%;
    left: 36.44%;
  }
}
* body main .intro {
  height: 100vh;
  position: relative;
}
@media (max-width: 800px) {
  * body main .intro {
    height: 0;
  }
}
* body main .intro .svg_photo {
  position: absolute;
  top: 48.33%;
  left: 0%;
  width: clamp(300px, 58.85vw, 1130px);
}
@media (max-width: 1100px) {
  * body main .intro .svg_photo {
    top: 18.33%;
    left: 0%;
  }
}
@media (max-width: 875px) {
  * body main .intro .svg_photo {
    top: 18.33%;
    left: 0%;
  }
}
@media (max-width: 800px) {
  * body main .intro .svg_photo {
    top: -35.39vh;
    left: 0%;
  }
}
* body main .intro .svg_photo path {
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;
  stroke: #666;
}
* body main .intro .svg_photo path.svg_animation {
  animation: svgshow2 5s ease-out forwards;
}
@media (max-width: 1100px) {
  * body main .intro .svg_photo path.svg_animation {
    animation: svgshow 5s ease-out forwards;
  }
}
* body main .intro .svg_graphy {
  position: absolute;
  top: 65.46%;
  left: 3.85%;
  width: clamp(352px, 69.01vw, 1325px);
}
@media (max-width: 1100px) {
  * body main .intro .svg_graphy {
    top: 30.46%;
    left: 3.46%;
  }
}
@media (max-width: 875px) {
  * body main .intro .svg_graphy {
    top: 30.46%;
    left: 3.46%;
  }
}
@media (max-width: 800px) {
  * body main .intro .svg_graphy {
    top: -29.79vh;
    left: 3.46%;
  }
}
* body main .intro .svg_graphy path {
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;
  stroke: #666;
}
* body main .intro .svg_graphy path.svg_animation {
  animation: svgshow2 5s ease-out forwards;
}
@media (max-width: 1100px) {
  * body main .intro .svg_graphy path.svg_animation {
    animation: svgshow 5s ease-out forwards;
  }
}
* body main .intro .svg_studio {
  position: absolute;
  top: 99.4%;
  left: 50.52%;
  width: clamp(252px, 48.75vw, 936px);
}
@media (max-width: 1100px) {
  * body main .intro .svg_studio {
    top: 59.4%;
    left: 50.52%;
  }
}
@media (max-width: 875px) {
  * body main .intro .svg_studio {
    top: 59.4%;
    left: 50.52%;
  }
}
@media (max-width: 800px) {
  * body main .intro .svg_studio {
    top: -11vh;
    left: 32.52%;
  }
}
* body main .intro .svg_studio path {
  stroke-dasharray: 1160;
  stroke-dashoffset: 1160;
  stroke: #666;
}
* body main .intro .svg_studio path.svg_animation {
  animation: svgshow2 5s ease-out forwards;
}
@media (max-width: 1100px) {
  * body main .intro .svg_studio path.svg_animation {
    animation: svgshow 5s ease-out forwards;
  }
}
* body main .intro p {
  position: absolute;
  width: 75%;
  top: 120.83%;
  left: 40.4%;
  text-align: center;
  font-family: hind;
  font-size: clamp(10px, 1.25vw, 24px);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9294117647);
}
@media (max-width: 1100px) {
  * body main .intro p {
    top: 85%;
    left: 40.4%;
  }
}
@media (max-width: 800px) {
  * body main .intro p {
    top: 6.15vh;
    left: 25%;
  }
}
* body main .profile {
  height: 200vh;
  position: relative;
}
@media (max-width: 1100px) {
  * body main .profile {
    height: 100vh;
  }
}
* body main .profile .profile_pic_left1 {
  position: absolute;
  top: 30.79%;
  left: 20.26%;
  width: clamp(78px, 12.66vw, 243px);
}
@media (max-width: 1100px) {
  * body main .profile .profile_pic_left1 {
    top: 20.38%;
    left: 7.18%;
  }
}
@media (max-width: 875px) {
  * body main .profile .profile_pic_left1 {
    top: 20.38%;
    left: 7.18%;
  }
}
@media (max-width: 800px) {
  * body main .profile .profile_pic_left1 {
    top: 20.38%;
    left: 7.18%;
  }
}
* body main .profile .profile_pic_left2 {
  position: absolute;
  top: 49.58%;
  left: 28.85%;
  width: clamp(89px, 13.28vw, 255px);
}
@media (max-width: 1100px) {
  * body main .profile .profile_pic_left2 {
    top: 46.18%;
    left: 61.44%;
  }
}
@media (max-width: 875px) {
  * body main .profile .profile_pic_left2 {
    top: 46.18%;
    left: 61.44%;
  }
}
* body main .profile .profile_pic_left3 {
  position: absolute;
  top: 60.9%;
  left: 19.11%;
  width: clamp(94px, 12.66vw, 243px);
}
@media (max-width: 1100px) {
  * body main .profile .profile_pic_left3 {
    top: 53.82%;
    left: 0%;
  }
}
@media (max-width: 875px) {
  * body main .profile .profile_pic_left3 {
    top: 53.82%;
    left: 0%;
  }
}
* body main .profile .profile_pic_center {
  position: absolute;
  top: 28.52%;
  left: 35.83%;
  width: clamp(160px, 37.19vw, 714px);
}
@media (max-width: 1100px) {
  * body main .profile .profile_pic_center {
    top: 20.54%;
    left: 35.83%;
  }
}
@media (max-width: 875px) {
  * body main .profile .profile_pic_center {
    top: 10.54%;
    left: 35.83%;
  }
}
@media (max-width: 800px) {
  * body main .profile .profile_pic_center {
    top: 18.54%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 600px) {
  * body main .profile .profile_pic_center {
    top: 29.54%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
* body main .profile .profile_pic_right {
  position: absolute;
  top: 25.28%;
  left: 59.79%;
  width: clamp(81px, 20.26vw, 389px);
}
@media (max-width: 1100px) {
  * body main .profile .profile_pic_right {
    top: 17.84%;
    left: 20.26%;
  }
}
@media (max-width: 875px) {
  * body main .profile .profile_pic_right {
    top: 17.84%;
    left: 56.91%;
  }
}
* body main .contact {
  height: 200vh;
  position: relative;
}
* body main .contact .cooperate {
  height: 53.7vh;
  width: 100%;
  top: -11.39%;
  position: absolute;
  background-color: rgba(217, 217, 217, 0.3);
}
@media (max-width: 1100px) {
  * body main .contact .cooperate {
    height: 35vh;
    top: 5%;
  }
}
@media (max-width: 875px) {
  * body main .contact .cooperate {
    height: 27.74vh;
    top: -10.27%;
  }
}
* body main .contact .cooperate h2 {
  position: absolute;
  top: 12.59%;
  width: 100%;
  text-align: center;
  font-family: didot;
  font-size: clamp(28px, 2.708vw, 52px);
  font-weight: 400;
  color: #898989;
}
@media (max-width: 1100px) {
  * body main .contact .cooperate h2 {
    top: 8.11%;
    left: 0;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 875px) {
  * body main .contact .cooperate h2 {
    top: 8.11%;
    left: 0;
    text-align: center;
    width: 100%;
  }
}
* body main .contact .cooperate p {
  position: absolute;
  top: 26.97%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: hint;
  font-size: clamp(12px, 1.25vw, 24px);
  font-weight: 400;
  color: #898989;
}
* body main .contact .cooperate .logos1 {
  position: absolute;
  top: 40.69%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}
@media (max-width: 1100px) {
  * body main .contact .cooperate .logos1 {
    width: 80%;
  }
}
@media (max-width: 460px) {
  * body main .contact .cooperate .logos1 {
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
  }
}
* body main .contact .cooperate .logos1 img {
  margin: 0.5vw;
  width: clamp(30px, 6.25vw, 120px);
}
@media (max-width: 875px) {
  * body main .contact .cooperate .logos1 img {
    margin: 3%;
  }
}
* body main .contact .cooperate .logos2 {
  position: absolute;
  top: 73.79%;
  left: 50%;
  transform: translate(-50%, 0);
}
* body main .contact .cooperate .logos2 img {
  width: clamp(70px, 13.54vw, 260px);
  margin: 0.5vw;
}
* body main .contact .cooperate .logos2 img:nth-child(2) {
  width: clamp(55px, 10.94vw, 210px);
}
@media (max-width: 1100px) {
  * body main .contact .cooperate .logos2 {
    display: none;
  }
}
* body main .contact .contact_title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 23.94%;
  font-family: didot;
  font-size: clamp(28px, 2.708vw, 52px);
  font-weight: 400;
  color: #898989;
}
@media (max-width: 1100px) {
  * body main .contact .contact_title {
    top: 26%;
  }
}
@media (max-width: 875px) {
  * body main .contact .contact_title {
    top: 7.8%;
  }
}
* body main .contact .contact_title::before {
  content: "_____";
}
* body main .contact .contact_title::after {
  content: "_____";
}
* body main .contact .address {
  position: absolute;
  top: 33.47%;
  left: 9.27%;
  font-family: hind;
  font-size: clamp(14px, 1.417vw, 20px);
  font-weight: 400;
  color: #000000;
}
@media (max-width: 875px) {
  * body main .contact .address {
    width: 80%;
    text-align: center;
    top: 11.34%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
* body main .contact .greeting {
  position: absolute;
  top: 35%;
  left: 9.27%;
  font-family: hind;
  font-size: clamp(12px, 0.9375vw, 18px);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5019607843);
}
@media (max-width: 875px) {
  * body main .contact .greeting {
    left: 50%;
    transform: translate(-50%, 0);
    top: 14.39%;
  }
}
* body main .contact ul {
  position: absolute;
  top: 36.95%;
  left: 9.27%;
  font-family: hind;
  font-size: clamp(12px, 1.417vw, 20px);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 875px) {
  * body main .contact ul {
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 17.77%;
  }
}
* body main .contact .QRcode {
  position: absolute;
  top: 45.7%;
  left: 9.69%;
  width: 300px;
}
@media (max-width: 875px) {
  * body main .contact .QRcode {
    left: 50%;
    top: 56.45%;
    transform: translate(-50%, 0);
  }
}
* body main .contact label {
  border: 1px solid grey;
  width: 38.23vw;
  height: 4.06vw;
  margin-bottom: 20px;
  font-family: Playfair Display;
  font-size: clamp(12px, 1.417vw, 20px);
  font-weight: 600;
  color: #898989;
}
* body main .contact label:nth-of-type(1) {
  position: absolute;
  top: 33.38%;
  left: 52.5%;
}
@media (max-width: 875px) {
  * body main .contact label:nth-of-type(1) {
    width: 82.45vw;
    height: 40px;
    top: 23.24%;
    left: 8.92%;
  }
}
* body main .contact label:nth-of-type(2) {
  position: absolute;
  top: 37.92%;
  left: 52.5%;
}
@media (max-width: 875px) {
  * body main .contact label:nth-of-type(2) {
    width: 82.45vw;
    height: 40px;
    top: 27%;
    left: 8.92%;
  }
}
* body main .contact label:nth-of-type(3) {
  position: absolute;
  top: 42.46%;
  left: 52.5%;
}
@media (max-width: 875px) {
  * body main .contact label:nth-of-type(3) {
    width: 82.45vw;
    height: 40px;
    top: 30.73%;
    left: 8.92%;
  }
}
* body main .contact label:nth-of-type(4) {
  position: absolute;
  top: 46.99%;
  left: 52.5%;
}
@media (max-width: 875px) {
  * body main .contact label:nth-of-type(4) {
    width: 82.45vw;
    height: 117px;
    top: 34.41%;
    left: 8.92%;
  }
}
* body main .contact input {
  height: 95%;
  border: none;
  font-family: Playfair Display;
  font-size: clamp(12px, 1.417vw, 20px);
  font-weight: 600;
  color: #898989;
}
* body main .contact input:focus {
  outline: none;
}
* body main .contact .message {
  height: 180px;
}
* body main .contact .message textarea {
  font-family: Playfair Display;
  font-size: clamp(12px, 1.417vw, 20px);
  font-weight: 600;
  color: #898989;
}
* body main .contact .message textarea:focus {
  outline: none;
}
* body main .contact p {
  position: absolute;
  top: 60.89%;
  left: 52.77%;
  font-family: hind;
  font-size: clamp(12px, 1.417vw, 20px);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3019607843);
}
@media (max-width: 875px) {
  * body main .contact p {
    text-align: center;
    top: 43.85%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
* body main .contact button {
  position: absolute;
  top: 65.88%;
  left: 67.03%;
  width: clamp(160px, 10.42vw, 200px);
  height: clamp(40px, 3.65vw, 70px);
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  font-family: Playfair Display;
  font-size: clamp(18px, 1.25vw, 24px);
  font-weight: 700;
  color: #6A6969;
  border: none;
  cursor: pointer;
}
* body main .contact button:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 875px) {
  * body main .contact button {
    top: 49.03%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
* body footer {
  height: 10vh;
  position: relative;
}
* body footer hr {
  position: absolute;
  top: -461.1%;
  left: 50%;
  height: clamp(135px, 17.4vw, 334px);
  width: 0.5px;
  border-width: 0;
  background-color: #D9D9D9;
}
* body footer small {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -7.4%;
  font-family: "Playfair Display";
  font-size: clamp(10px, 1.25vw, 24px);
  font-weight: normal;
  color: #898989;
}/*# sourceMappingURL=index.css.map */