@import '_var';

@mixin font($ff: '標楷體', $minfz: 12px, $nowfz: 1.5vw, $maxfz: 64px, $fw: normal, $c: #000) {
    font-family: $ff;
    font-size: clamp($minfz, $nowfz, $maxfz);
    font-weight: $fw;
    color: $c;
}

@mixin picsize($minW, $nowW, $maxW) {
    width: clamp($minW, $nowW, $maxW);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    &::-webkit-scrollbar {
        display: none;
    }

    header {
        .burger {
            position: fixed;
            width: 100%;
            justify-content: space-between;
            transition: all 0.5s;
            opacity: 0;
            z-index: 2;

            .burger_logo {
                position: absolute;
                top: 7.41vh;
                left: 4.8%;

                @media (max-width:600px) {
                    display: none;
                }
            }

            .burger_btn_open {
                cursor: pointer;
                position: absolute;
                top: 7.41vh;
                right: 4.53%;
                @include font('', 32px, 2.6vw, 50px, 100, #89898966);
            }

            nav {
                height: 0vh;
                width: 100%;
                position: absolute;
                top: 0;
                background-color: #000;
                overflow: hidden;
                transition: all 1s;
                z-index: 2;

                &.open {
                    height: 100vh;
                }

                .YTDlogo {
                    @include font(didot, 11px, 1.25vw, 24px, 700, white);
                    position: absolute;
                    top: 8.98%;
                    left: 7.86%;
                    text-decoration: none;
                    font-style: italic;
                }

                .nav_content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100vh;

                    img {
                        @include picsize(196.65px, 19.53vw, 375px);
                        margin-right: 4.32%;
                    }

                    ul {
                        list-style: none;
                        margin-left: 4.32%;

                        li {
                            margin: 1% 0;

                            a {
                                text-decoration: none;
                                @include font(didot, 26px, 3.54vw, 68px, 400, white);
                            }
                        }
                    }
                }

                .nav_btn_close {
                    color: white;
                    position: absolute;
                    cursor: pointer;
                    top: 83.4%;
                    left: 89.58vw;
                }
            }

            .totop {
                position: fixed;
                right: 5%;
                bottom: 5%;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                text-decoration: none;
                text-align: center;
                line-height: 50px;
                background-color: #fff;
                @include font(Playfair Display, 16px, 1vw, 19.2px, 600, #6A6969);
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

                &:active {
                    transform: translate(2px, 2px);
                    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
                }
            }

            &.active {
                opacity: 1;
            }
        }

        .upper-right-pic {
            @include picsize(123px, 36.72vw, 705px);
            position: absolute;
            top: 0px;
            left: 44.90%;
        }

        .blog-logo {
            @include picsize(164px, 35.1vw, 674px);
            position: absolute;
            top: 321px;
            left: 19.4%;

            @media (max-width:1250px) {
                top: 140px;
            }

            @media (max-width:922px) {
                top: 140px;
            }

            @media (max-width:690px) {
                top: 40px;
            }

            @media (max-width:390px) {
                top: 0px;
                left: 50px;
            }
        }

        .flower-pic {
            @include picsize(59px, 16.67vw, 320px);
            position: absolute;
            top: 604px;
            left: 0;

            @media (max-width:922px) {
                top: 292px;
            }

            @media (max-width:520px) {
                top: 105px;
            }
        }

        .blog_graphics {
            .middle-photographer-pic {
                @include picsize(68px, 21.5vw, 413px);
                position: absolute;
                top: 934px;
                left: 28.49%;

                @media (max-width:922px) {
                    top: 600px;
                }

                @media (max-width:520px) {
                    top: 200px;
                }

                @media (max-width:390px) {
                    top: 159px;
                }
            }

            .graphics_text {
                position: absolute;
                top: 1001px;
                left: 52.86%;

                @media (max-width:922px) {
                    top: 585px;
                }

                @media (max-width:520px) {
                    top: 180px;
                }

                @media (max-width:390px) {
                    top: 159px;
                }

                h2 {
                    @include font(Playfair Display, 12px, 1.88vw, 36px, 700, #898989);
                    line-height: 100px;

                    @media (max-width:922px) {
                        line-height: 80px;
                    }

                    @media (max-width:520px) {
                        line-height: 50px;
                    }

                    @media (max-width:390px) {
                        line-height: 30px;
                    }
                }

                p {
                    @include font(hind, 6.20513px, 1.25vw, 24px, 400, #000000);
                    line-height: 40px;

                    @media (max-width:922px) {
                        line-height: 25px;
                    }

                    @media (max-width:520px) {
                        line-height: 10px;
                    }
                }

            }
        }
    }


    main {
        overflow: hidden;

        .main_semicircle {
            img {
                @include picsize(282px, 66.4vw, 1275px);
                position: absolute;
                top: 1789px;
                left: 16.35%;

                @media (max-width:1777px) {
                    top: 2000px;
                }

                @media (max-width:1125px) {
                    top: 2100px;
                }

                @media (max-width:925px) {
                    top: 1250px;
                }

                @media (max-width:691px) {
                    top: 1300px;
                }

                @media (max-width:520px) {
                    top: 359px;
                }
            }
        }

        h2 {
            @include font(Playfair Display, 30px, 5.21vw, 100px, 400, #000000);
            font-style: italic;
            text-transform: capitalize;
            line-height: 120px;
            // width: 958px;
            // height: 447px;
            position: absolute;
            top: 1665px;
            left: 50.1%;

            @media (max-width:922px) {
                top: 930px;
                line-height: 75px;
            }

            @media (max-width:520px) {
                top: 350px;
                line-height: 25px;
            }

            @media (max-width:390px) {
                top: 300px;
                line-height: 25px;
            }
        }

        .quotations {
            // width: 100%;
            height: 497px;

            @media (max-width:922px) {
                height: 297px;
                top: 1470px;
            }

            @media (max-width:520px) {
                height: 160px;
                top: 489px;
            }

            @include picsize(399px, 100%, 1920px);
            background-color: #2c2c2c;
            position: absolute;
            top: 2365px;

            .left-quote {
                @include font(Playfair Display, 12px, 1.88vw, 36px, 700, #FFFFFF);
                text-transform: capitalize;
                line-height: 100px;
                position: absolute;
                top: 59px;
                left: 7.24%;

                @media (max-width:922px) {
                    top: 19px;
                }

                @media (max-width:520px) {
                    line-height: 20px;
                    top: 14px;
                    left: 15%;
                }
            }

            .right-quote {
                @include font(Playfair Display, 12px, 1.88vw, 36px, 700, #FFFFFF);
                text-transform: capitalize;
                line-height: 100px;
                position: absolute;
                top: 59px;
                left: 62.4%;

                @media (max-width:922px) {
                    top: 19px;
                }

                @media (max-width:520px) {
                    line-height: 14px;
                    top: 34px;
                    left: 52%;
                }
            }

            .quote-text {
                @include font(hind, 10px, 1.25vw, 24px, 400, #FFFFFF);
                width: 604px;
                height: 160px;
                line-height: 40px;
                position: absolute;
                top: 266px;
                left: 7.19%;

                @media (max-width:922px) {
                    width: 300px;
                    top: 150px;
                    line-height: 30px;
                }

                @media (max-width:520px) {
                    width: 154px;
                    height: 60px;
                    line-height: 10px;
                    top: 66px;
                    left: 41px;
                }
            }

            .mask {
                @include picsize(170px, 45.99vw, 883px);
                position: absolute;
                top: 220px;
                left: 44.635%;
                overflow: hidden;

                @media (max-width:1626px) {
                    left: 50%;
                    top: 160px;
                }

                @media (max-width:1130px) {
                    width: 30vw;
                    left: 70%;
                    top: 160px;
                }

                @media (max-width:520px) {
                    width: 45.99vw;
                    top: 66px;
                    left: 207px;
                }

                .mountain-scenery {
                    @include picsize(170px, 45.99vw, 883px);
                }
            }


        }

        .inspiring-text {
            @include font(hind, 10px, 1.25vw, 24px, 400, #000000);
            width: 604px;
            height: 800px;
            position: absolute;
            top: 2972px;
            left: 7.24%;
            line-height: 40px;

            @media (max-width:922px) {
                width: 300px;
                top: 1800px;
                line-height: 20px;
            }

            @media (max-width:520px) {
                width: 153px;
                height: 300px;
                top: 677px;
                line-height: 15px;

                br {
                    display: none;
                }
            }
        }

        .inspiring-text span {
            @media (max-width:520px) {
                position: absolute;
                display: block;
                width: 160px;
                height: 135px;
                left: 191px;
                top: 200px;
                line-height: 15px;
            }

            @media (max-width:390px) {
                position: absolute;
                display: block;
                width: 160px;
                height: 135px;
                left: 191px;
                top: 140px;
                line-height: 15px;
            }
        }

        .taichung-logo {
            @include picsize(258px, 38.7vw, 743px);
            position: absolute;
            top: 3881px;
            left: 50%;
            transform: translate(-50%,0);

            @media (max-width:922px) {
                top: 2300px;
            }

            @media (max-width:520px) {
                top: 1050px;
            }

            @media (max-width:390px) {
                top: 1062px;
            }
        }

        .goal-text {
            @include font(Playfair Display, 12px, 1.88vw, 36px, 400, rgba(0, 0, 0, 0.5));
            position: absolute;
            top: 4104px;
            left: 14.947%;
            text-transform: capitalize;
            font-style: italic;

            @media (max-width:922px) {
                top: 2430px;
            }

            @media (max-width:520px) {
                display: none;
            }
        }

        .address {
            @include font(Playfair Display, 12px, 1.88vw, 36px, 400, #000000);
            display: none;

            @media (max-width:520px) {
                position: absolute;
                display: block;
                top: 1150px;
                left: 50%;
                transform: translate(-50%,0);
            }

            @media (max-width:390px) {
                position: absolute;
                display: block;
                top: 1185px;
            }
        }

        .address span {
            display: block;
            text-align: center;
            line-height: 12px;
        }
    }

    footer {
        top: 4427px;
        height: 200px;
        width: 100%;
        position: absolute;
        @media (max-width:922px) { 
            top: 2500px;
            @media (max-width:520px) {
                top: 1300px;
            }
        }

        hr {
            position: absolute;
            top: -80%;
            left: 50%;
            height: 200px;
            width: 0.5px;
            border-width: 0;
            background-color: #D9D9D9;
            @media (max-width:922px) {
                height: 150px;
                top: -15%;
                @media (max-width:520px) {
                }
            }
        }

        small {
            @include font(Playfair Display, 10px, 1.25vw, 24px, normal, #898989);
            line-height: 32px;
            letter-spacing: 0.02em;
            position: absolute;
            bottom: 5vh;
            width: 100%;
            text-align: center;

            @media (max-width:922px) {
            }

            @media (max-width:520px) {
            }
        }
    }




}