@import '_var';

// --mixin--
@mixin font($ff: '標楷體', $minfz: 12px, $nowfz: 1.5vw, $maxfz: 64px, $fw: normal, $c: #000) {
    font-family: $ff;
    font-size: clamp($minfz, $nowfz, $maxfz);
    font-weight: $fw;
    color: $c;
}


@mixin picsize($minW, $nowW, $maxW) {
    width: clamp($minW, $nowW, $maxW);
}

.loading_page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    background-color: #fff;

    svg {
        position: absolute;
        bottom: 0;
        width: 66.875vw;
        transition: 0.5s;
        transform: translate(-100%, 0);

        @media(max-width: 960px) {
            width: 54.83vw;
            transform: rotate(90deg);
            bottom: unset;
            top: 0;
            left: -15%;
            transform: translate(0, -150%);
        }
    }

    p {
        position: absolute;
        margin: 0;
        top: 9.54%;
        left: 65.1%;
        @include font(didot, 92px, 14.0625vw, 270px, 400, #000000C4);
        transition: 0.5s;
        transform: translate(150%, 0);

        @media(max-width: 960px) {
            top: 80%;
            right: 65.1%;
            transform: translate(0, 150%);
        }
    }
}