@import '_var';

@mixin font($ff: '標楷體', $minfz: 12px, $nowfz: 1.5vw, $maxfz: 64px, $fw: normal, $c: #000) {
    font-family: $ff;
    font-size: clamp($minfz, $nowfz, $maxfz);
    font-weight: $fw;
    color: $c;
}

@keyframes loop {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@mixin picsize($minW, $nowW, $maxW) {
    width: clamp($minW, $nowW, $maxW);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }

        header {
            .burger {
                position: fixed;
                width: 100%;
                justify-content: space-between;
                transition: all 0.5s;
                opacity: 0;
                z-index: 2;

                .burger_logo {
                    position: absolute;
                    top: 7.41vh;
                    left: 4.8%;

                    @media (max-width:600px) {
                        display: none;
                    }
                }

                .burger_btn_open {
                    cursor: pointer;
                    position: absolute;
                    top: 7.41vh;
                    right: 4.53%;
                    @include font('', 32px, 2.6vw, 50px, 100, #89898966);
                }

                nav {
                    height: 0vh;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    background-color: #000;
                    overflow: hidden;
                    transition: all 1s;
                    z-index: 2;

                    &.open {
                        height: 100vh;
                    }

                    .YTDlogo {
                        @include font(didot, 11px, 1.25vw, 24px, 700, white);
                        position: absolute;
                        top: 8.98%;
                        left: 7.86%;
                        text-decoration: none;
                        font-style: italic;
                    }

                    .nav_content {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100vh;

                        img {
                            @include picsize(196.65px, 19.53vw, 375px);
                            margin-right: 4.32%;
                        }

                        ul {
                            list-style: none;
                            margin-left: 4.32%;

                            li {
                                margin: 1% 0;

                                a {
                                    text-decoration: none;
                                    @include font(didot, 26px, 3.54vw, 68px, 400, white);
                                }
                            }
                        }
                    }

                    .nav_btn_close {
                        color: white;
                        position: absolute;
                        cursor: pointer;
                        top: 83.4%;
                        left: 89.58vw;
                    }
                }

                .totop {
                    position: fixed;
                    right: 5%;
                    bottom: 5%;
                    border-radius: 50%;
                    height: 3.5vw;
                    width: 3.5vw;
                    text-decoration: none;
                    text-align: center;
                    line-height: 3.5vw;
                    background-color: #fff;
                    @include font(Playfair Display, 16px, 1vw, 19.2px, 600, #6A6969);
                    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

                    &:active {
                        transform: translate(2px, 2px);
                        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
                    }
                }

                &.active {
                    opacity: 1;
                }
            }

            .portfolio_banner {
                height: 100vh;
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    @include picsize(313px, 73.23vw, 1406px);
                }
            }

            .portfolio_list {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style: none;

                li {
                    @include font(Playfair Display, 28px, 2.60vw, 50px, 600, #898989);
                    margin-bottom: 2.19%;

                    a {
                        text-decoration: none;
                        color: #898989;
                    }
                }
            }
        }

        main {
            .light_box {
                position: fixed;
                top: 0;
                width: 100%;
                height: 100vh;
                background-color: #fff;
                margin: auto;
                display: none;
                z-index: 10;

                .light_box_card {
                    text-align: center;

                    .light_box_closeBtn {
                        position: absolute;
                        top: 5%;
                        right: 5%;
                        cursor: pointer;
                    }

                    img {
                        width: 50%;

                        &.shorten{
                            width: 30%;
                        }
                        
                        &.light_box_show {
                            object-fit: contain;
                            position: absolute;
                            z-index: 2;
                            right: 0;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }

                        &.light_box_shadow {
                            position: absolute;
                            top: 10%;
                            left: 30%;
                            object-fit: contain;
                            z-index: 1;
                            filter: brightness(130%) saturate(200%) blur(30px) opacity(30%);

                            @media (max-width:1100px) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .commercial {
                .commercial_banner {
                    height: 100vh;
                    background-color: #484B574D;
                    position: relative;

                    h2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include font(Playfair Display, 50px, 7.81vw, 150px, 400, #000000);
                        font-style: italic;
                    }
                }

                .commercial_portfolio {
                    width: 100%;
                    height: 900vh;
                    display: flex;
                    justify-content: space-evenly;

                    @media (max-width:1100px) {
                        flex-wrap: wrap;
                        height: 1300vh;
                    }

                    @media (max-width:600px) {
                        flex-wrap: wrap;
                        height: 900vh;
                    }

                    .portfolio_commercial_column {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        @media (max-width:1100px) {
                            width: 45%;
                        }

                        .item {
                            position: relative;

                            .show {
                                object-fit: contain;
                                width: 70%;
                                height: 100%;
                                position: relative;
                                z-index: 2;
                            }

                            .shadow {
                                position: absolute;
                                top: -10%;
                                left: 3%;
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                filter: brightness(130%) saturate(200%) blur(30px) opacity(30%);

                                @media (max-width:1100px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .portrait {
                .portrait_banner {
                    height: 100vh;
                    background-color: #484B574D;
                    position: relative;

                    h2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include font(Playfair Display, 50px, 7.81vw, 150px, 400, #000000);
                        font-style: italic;
                    }
                }

                .portrait_portfolio {
                    width: 100%;
                    height: 1400vh;
                    display: flex;
                    justify-content: space-evenly;

                    @media (max-width:1100px) {
                        flex-wrap: wrap;
                        height: 2500vh;
                    }

                    @media (max-width:600px) {
                        flex-wrap: wrap;
                        height: 1400vh;
                    }

                    .portfolio_portrait_column {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        @media (max-width:1100px) {
                            width: 45%;
                        }

                        .item {
                            position: relative;

                            .show {
                                object-fit: contain;
                                width: 70%;
                                height: 100%;
                                position: relative;
                                z-index: 2;
                            }

                            .shadow {
                                position: absolute;
                                top: -10%;
                                left: 3%;
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                filter: brightness(130%) saturate(200%) blur(30px) opacity(30%);

                                @media (max-width:1100px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .selection {
                .selection_banner {
                    height: 100vh;
                    background-color: #484B574D;
                    position: relative;

                    h2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include font(Playfair Display, 50px, 7.81vw, 150px, 400, #000000);
                        font-style: italic;
                    }
                }

                .selection_portfolio {
                    width: 100%;
                    height: 700vh;
                    display: flex;
                    justify-content: space-evenly;

                    @media (max-width:1100px) {
                        flex-wrap: wrap;
                        height: 1100vh;
                    }

                    @media (max-width:600px) {
                        flex-wrap: wrap;
                        height: 700vh;
                    }

                    .portfolio_selection_column {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        @media (max-width:1100px) {
                            width: 45%;
                        }

                        .item {
                            position: relative;

                            .show {
                                object-fit: contain;
                                width: 70%;
                                height: 100%;
                                position: relative;
                                z-index: 2;
                            }

                            .shadow {
                                position: absolute;
                                top: -10%;
                                left: 3%;
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                filter: brightness(130%) saturate(200%) blur(30px) opacity(30%);

                                @media (max-width:1100px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .record {
                .record_banner {
                    height: 100vh;
                    background-color: #484B574D;
                    position: relative;

                    h2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        text-align: center;
                        transform: translate(-50%, -50%);
                        @include font(Playfair Display, 50px, 7.81vw, 150px, 400, #000000);
                        font-style: italic;
                    }
                }

                .record_portfolio {
                    width: 100%;
                    height: 200vh;
                    display: flex;
                    justify-content: space-evenly;

                    @media (max-width:1100px) {
                        flex-wrap: wrap;
                        height: 400vh;
                    }

                    @media (max-width:600px) {
                        flex-wrap: wrap;
                        height: 200vh;
                    }

                    .portfolio_record_column {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        @media (max-width:1100px) {
                            width: 45%;
                        }

                        .item {
                            position: relative;

                            .show {
                                object-fit: contain;
                                width: 70%;
                                height: 100%;
                                position: relative;
                                z-index: 2;
                            }

                            .shadow {
                                position: absolute;
                                top: -10%;
                                left: 3%;
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                filter: brightness(130%) saturate(200%) blur(30px) opacity(30%);

                                @media (max-width:1100px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .film {
                .film_banner {
                    height: 100vh;
                    background-color: #484B574D;
                    position: relative;

                    h2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include font(Playfair Display, 50px, 7.81vw, 150px, 400, #000000);
                        font-style: italic;
                    }
                }

                .film_portfolio {
                    width: 100%;
                    height: 200vh;
                    display: flex;
                    justify-content: space-evenly;
                    @media (max-width:1100px) {
                        flex-wrap: wrap;
                        height: 100vh;
                    }

                    .portfolio_film_column {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        .item {
                            position: relative;

                            video {
                                width: 70%;
                                height: 100%;
                                position: relative;
                                z-index: 2;
                            }

                            .shadow {
                                position: absolute;
                                top: -10%;
                                left: 3%;
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                filter: brightness(130%) saturate(200%) blur(30px) opacity(30%);

                                @media (max-width:1100px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            height: 100vh;

            p {
                line-height: 100vh;
                text-align: center;
                @include font(didot, 20px, 5vw, 96px, 600, #0000004D);
                font-style: italic;

            }
        }
    }
}